<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    {{>header}}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="img/businessman-character-avatar-isolated_24877-60111.jpg" class="img-fluid rounded-circle"
                    alt="hh">
            </div>
        </div>
    </div>
</body>
<script src="/js/custom.js"></script>
<script src="/3.1/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>