<div class="container">
    <div class="jumbotron text-center">
        <h1>Weather</h1>
    </div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/">Weather</a></li>
        <li class="list-inline-item"><a href="/about">About</a></li>
        <li class="list-inline-item"><a href="/help">Help</a></li>
    </ul>
</div>